<div class="row">
  <div class="col-xs-6">
    <table *ngIf="datastatus" class="table">
      <!--Field Name-->
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th>Type</th>
          <th>Year</th>
          <th>Details</th>
        </tr>
      </thead>
      <!--Information-->
      <tr *ngFor="let inf of InfoTable.Search" class="col-xl-10">
        <td>{{inf.Title}}</td>
        <td>{{inf.Type}}</td>
        <td>{{inf.Year}}</td>
        <td> <button class="btn btn-info"
                      type="button"
                      (click)="onGetDetails(inf.imdbID)"> Details</button></td>
      </tr>
    </table>
  </div>
    <div class="col-xs-6 moreinfo" *ngIf="show">
      <app-moreinfo [id]="id"
                    [datastatus2]= status2
                    ></app-moreinfo>
    </div>
</div>
