<div class="start">
  <div class="text">
    <h1>Welcome to <i>MSE</i> Platform</h1>
    <p>Your Best Choice to find what you Need Quickly</p>
  </div>
    <div class="col" style="background-color: #386641;">
      <input type="text"
              class="input-group-sm input"
              placeholder="Search..."
              #InputSearchValue>
      <select #InputYearValue class="custom-select-sm input btn-outline-success"
              >
        <option >Select Year</option>
          <option *ngFor ="let i of yearArray" value={{i}}> {{i}}</option>

      </select>
      <select #InputTypeValue class="custom-select-sm input btn-outline-info">
        <option>Select Type</option>
        <option value="movie">movie</option>
        <option value="series">series</option>
        <option value="episode">episode</option>
      </select>
      <button class="btn btn-primary"
                  (click)="ongetInfo()">Search</button>
    </div>
    <div class="info">
      <app-information  [InfoTable]=response
                        [datastatus]=status></app-information>
    </div>
</div>
